---
import GeneralLayout from '../layouts/GeneralLayout.astro';
import ListadoExperiencias from "../components/ListadoExperiencias.astro";
import Section from "../components/Section.astro";
import ListadoTrabajos from "../components/ListadoTrabajos.astro";
import SobreMi from "../components/SobreMi.astro";
---

<GeneralLayout title="YokolateArt">
  <section class="flex flex-col gap-4 max-w-3xl m-auto">
      <div class="flex flex-col sm:flex-row items-center m-auto gap-4">
          <div class="flex justify-center aspect-square max-h-64 max-w-64">
              <img class="rounded-full border-primary border-2" src="/images/paula.webp" alt="Paula" />
          </div>
          <h1 class="font-handwrite text-3xl text-primary font-bold text-center">Hola! Soy Paula!</h1>
      </div>
      <p class="w-auto text-center">
          <span class="text-secondary font-bold">Artista 3D y 2D, ilustradora, diseñadora gráfica y creadora de contenido digital</span> de Valencia, España.
          Especializada en desarrollo de videojuegos.
      </p>
  </section>
  <Section title="Experiencia">
      <ListadoExperiencias />
  </Section>
  <Section title="Trabajos">
      <ListadoTrabajos />
  </Section>
  <SobreMi />
</GeneralLayout>
<style>

</style>
