---
import GeneralLayout from "../layouts/GeneralLayout.astro";
import Section from "../components/Section.astro";

---

<GeneralLayout title="The deeper underground">
  <Section title="Concepto">
    <p>
      En un mundo donde la humanidad ha sido esclavizada por una raza alienígena, un grupo de rebeldes se adentra en las profundidades de la Tierra para encontrar una forma de liberar a la humanidad.
    </p>
  </Section>
</GeneralLayout>
