---
import UnrealEngineChip from './chips/UnrealEngineChip.astro';
import BlenderChip from "./chips/BlenderChip.astro";

const experiencias = [{
  puesto: "Diseñadora Gráfica",
  empresa: "YokolateArt",
  fecha: "desde 2020",
  parrafos: [
    "Diseño de logotipos, banners, tarjetas de visita, cartelería, merchandising, etc.",
  ]
},
  {
    puesto: "Artista 3D y 2D",
    empresa: "YokolateArt",
    fecha: "desde 2020",
    parrafos: [
      "Creación de personajes, escenarios, objetos, animaciones, etc.",
    ]
  },
  {
    puesto: "Ilustradora",
    empresa: "YokolateArt",
    fecha: "desde 2020",
    parrafos: [
      "Ilustraciones digitales y tradicionales.",
    ]
  },
  {
    puesto: "Creadora de contenido digital",
    empresa: "YokolateArt",
    fecha: "desde 2020",
    parrafos: [
      "Creación de contenido para redes sociales, blogs, etc."
    ]
  }]
---

<ol>
  {experiencias.map((experiencia) =>
      <li class="flex flex-row mx-6 before:relative before:border-l-primary before:border-l-2 gap-5">
        <div class="flex flex-col gap-2 my-3">
          <h2 class="text-xl text-primary font-bold transform font-handwrite before:rounded-full before:w-3 before:h-3 before:bg-secondary before:text-secondary before:block before:fixed before:left-[-1.7rem] before:top-[0.5rem] before:text-5xl">
            {experiencia.puesto}
          </h2>
          <p>En <span class="text-secondary font-bold">{experiencia.empresa}</span> {experiencia.fecha}.</p>
          {experiencia.parrafos.map((parrafo) => <p>{parrafo}</p> )}
          <div class="flex flex-row gap-3">
            <UnrealEngineChip />
            <BlenderChip />
          </div>
        </div>
      </li>
  )}
</ol>
