---
import './SobreMi.css'

---


<section>
  <div class="sobre-mi-grid">
    <div class="img">
      <img class="m-auto rounded-full border-primary border-2" src="/images/paula.webp" alt="Paula" height={200} width={200} />
    </div>
    <h1 class="font-handwrite text-3xl text-primary font-bold text-center mb-4">Sobre mí</h1>
    <p class="text">
      <span class="text-secondary font-bold">Artista 3D y 2D, ilustradora, diseñadora gráfica y creadora de contenido digital</span> de Valencia, España.
      Especializada en desarrollo de videojuegos.
    </p>
  </div>
</section>
